.about-us-jumbotron

.about-us-content
	
	.title
		h2 Expert Designers and Developers
		h2 who offer a professional, client focused
		h2 and value giving service.

	.content
		span We are a complete Creative and Digital Design Studio based in Iligan, Philippines with an outstanding focus on quality designs across all digital campaigns including social media marketing, web-design, video production and responsive design.

		span Lofty Type is an energetic, fresh and vibrant team of five, offering creative talent, industry knowledge and extremely high design standards. 

		span We work with different types of industries and start up businesses and focus our efforts on giving more value to our clients & to their customers.

.team-content
	
	.title
		h2 Meet the Team

	.row

		.card-container
			.profile-pic

			.name
				span Justin Cuizon
			.position
				span CEO
			.social-media
				ul
					li: a(href="https://www.facebook.com/loftytype/" target="_blank"): i.fa.fa-facebook
					li: a(href="https://www.instagram.com/loftytype/" target="_blank"): i.fa.fa-instagram
					li: a(href="https://twitter.com/loftytype" target="_blank"): i.fa.fa-twitter
					li: a(href="https://plus.google.com/116223039492732921602" target="_blank"): i.fa.fa-google-plus

		.card-container
			.profile-pic

			.name
				span Junix Dominguez
			.position
				span Designer & SEO
			.social-media
				ul
					li: a(href="https://www.facebook.com/loftytype/" target="_blank"): i.fa.fa-facebook
					li: a(href="https://www.instagram.com/loftytype/" target="_blank"): i.fa.fa-instagram
					li: a(href="https://twitter.com/loftytype" target="_blank"): i.fa.fa-twitter
					li: a(href="https://plus.google.com/116223039492732921602" target="_blank"): i.fa.fa-google-plus

	.row

		.card-container
			.profile-pic

			.name
				span Allen Quing
			.position
				span Project Manager
			.social-media
				ul
					li: a(href="https://www.facebook.com/loftytype/" target="_blank"): i.fa.fa-facebook
					li: a(href="https://www.instagram.com/loftytype/" target="_blank"): i.fa.fa-instagram
					li: a(href="https://twitter.com/loftytype" target="_blank"): i.fa.fa-twitter
					li: a(href="https://plus.google.com/116223039492732921602" target="_blank"): i.fa.fa-google-plus

		.card-container
			.profile-pic

			.name
				span Japheth Palangan
			.position
				span Developer & Designer
			.social-media
				ul
					li: a(href="https://www.facebook.com/loftytype/" target="_blank"): i.fa.fa-facebook
					li: a(href="https://www.instagram.com/loftytype/" target="_blank"): i.fa.fa-instagram
					li: a(href="https://twitter.com/loftytype" target="_blank"): i.fa.fa-twitter
					li: a(href="https://plus.google.com/116223039492732921602" target="_blank"): i.fa.fa-google-plus

	.row

		.card-container
			.profile-pic

			.name
				span Gerald Lacandula
			.position
				span Video Editor & SEO
			.social-media
				ul
					li: a(href="https://www.facebook.com/loftytype/" target="_blank"): i.fa.fa-facebook
					li: a(href="https://www.instagram.com/loftytype/" target="_blank"): i.fa.fa-instagram
					li: a(href="https://twitter.com/loftytype" target="_blank"): i.fa.fa-twitter
					li: a(href="https://plus.google.com/116223039492732921602" target="_blank"): i.fa.fa-google-plus

		.card-container
			.profile-pic

			.name
				span Jaed Reynon
			.position
				span Designer & SEO
			.social-media
				ul
					li: a(href="https://www.facebook.com/loftytype/" target="_blank"): i.fa.fa-facebook
					li: a(href="https://www.instagram.com/loftytype/" target="_blank"): i.fa.fa-instagram
					li: a(href="https://twitter.com/loftytype" target="_blank"): i.fa.fa-twitter
					li: a(href="https://plus.google.com/116223039492732921602" target="_blank"): i.fa.fa-google-plus


