.about-us-jumbotron

.about-us-content
	
	.title
		h2 Expert Designers and Developers
		h2 who offer a professional, client focused
		h2 and value giving service.

	.content
		span We are a complete Creative and Digital Design Studio based in Iligan, Philippines with an outstanding focus on quality designs across all digital campaigns including social media marketing, web-design, video production and responsive design.

		span Lofty Type is an energetic, fresh and vibrant team of five, offering creative talent, industry knowledge and extremely high design standards. 

		span We work with different types of industries and start up businesses and focus our efforts on giving more value to our clients & to their customers.

.team-content
	h2 Meet the Team