.contact-us-jumbotron

.contact-us-content
	
	.title
		h2 Get in touch with us
		h2 and we can setup a schedule for you,
		h2 and solve your web situation.

	.contact-form
		h5 Use the form below to drop us an e-mail.
		h6 **Required Fields

		form(action="https://formspress.io/your@email.com" method="POST")
			.first.row
				input(type="text" name="fname" placeholder="**First Name")
				input(type="text" name="lname" placeholder="**Last Name")
			.second.row
				input(type="email" name="_replyto" placeholder="**Email")
				input(type="text" name="tel" placeholder="**Phone")
			.third.row
				input(type="text" name="website" placeholder="Website")
				input(type="text" name="company" placeholder="Company")
			.fourth.row
				textarea(name="message" placeholder="Tell us about your project")
				input(type="text" name="_gotcha" style="display:none")
			.fifth.row
				input.send(type="submit" value="Send")

		