.expertise-section-container

	.expertise-section-first-row

		.col.title
			h2 Our Expertise

	.expertise-section-second-row

		.col.branding(data-hover="We create a great brand for you.")
			h3 Branding
			h4 Unique

		.col.web-design(data-hover="We create a great website for you.")
			h3 Web Design
			h4 Responsive

		.col.marketing(data-hover="We bridge your Market.")
			h3 Marketing
			h4 Social Media

