.expertise-section-container

	.expertise-section-first-row

		.col.title
			h2 Our Expertise

	.expertise-section-second-row

		.col.branding(data-hover="We build awareness for your business.")
			h3 Branding
			h4 Creating Connections

		.col.web-design(data-hover="We develop your online presence.")
			h3 Web Development
			h4 Responsive & Intuitive

		.col.marketing(data-hover="We enchance your customer relationships.")
			h3 Marketing
			h4 Growing your Brand

