.industries-section-container
	
	.title
		h2 Industries We Serve

	.industries-icon-container

		.first-col
			.image-text-holder
				img.icon(src="{{site.baseurl}}/assets/img/sale.svg")
				.text Small Business
			.image-text-holder
				img.icon(src="{{site.baseurl}}/assets/img/cup.svg")
				.text Sports & Fitness
			.image-text-holder
				img.icon(src="{{site.baseurl}}/assets/img/analytics-7.svg")
				.text Medical & Healthcare

		.second-col
			.image-text-holder
				img.icon(src="{{site.baseurl}}/assets/img/school-2.svg")
				.text Real Estate
			.image-text-holder
				img.icon(src="{{site.baseurl}}/assets/img/wine-menu.svg")
				.text Food & Beverage
			.image-text-holder
				img.icon(src="{{site.baseurl}}/assets/img/structure.svg")
				.text Schools & Institutions