mixin mobile-navigation-links
	ul
		li: a.text(href="#") SERVICES
		li: a.text(href="#") ABOUT US
		li: a.text(href="#") BLOG
		li: a.text(href="#") CONTACT US

.mobile-menu-button#mobile-menu-button
		.hamburger-button

.mobile-navigation
		+mobile-navigation-links