.work-section-container.overlay2
	
	.contact-form-container

		.address
			h3 0088 
			h3 Tibanga Highway
			h3 Iligan City

		.contact-info
			.email
				h4 contact@loftytype.com

			.number
				h4 +63-915-490-8250


	.weather-widget


	.button
		a(href="#"): h3 Work With Us



		