//================Mobile Menu====================
.mobile-navigation
	max-height: 0px
	transform: translateY(-90px)

.mobile-navigation.active
	display: flex
	background-color: #3da4b1
	min-height: 100vh
	min-width: 100vw
	transform: translateY(0px)
	transition: all 0.1s ease

	ul
		display: flex
		flex-direction: column
		justify-content: space-around
		align-items: center
		text-align: center
		margin: 0 auto

		li
			list-style-type: none
			margin-top: 25px
			width: 100vw

			a
				text-decoration: none
				color: #f39c12
				font-family: 'Montserrat', sans-serif
				font-size: 45px

//================Mobile Button====================
.mobile-menu-button
	display: none
	justify-content: center
	position: absolute
	right: 5px
	width: 43px
	height: 43px
	z-index: 3

	.hamburger-button
		position: absolute
		width: 43px
		height: 7px
		top: 10px
		background: #f39c12
		transition: all 0.3s

	.hamburger-button:before, .hamburger-button:after
		content: ''
		position: absolute
		width: 43px
		height: 7px
		background: #f39c12
		transition: all 0.3s

	.hamburger-button:before
		top: 13px
	.hamburger-button:after
		top: 27px

.mobile-menu-button.active .hamburger-button:after
	top: 20px
	transform: rotate(45deg)

.mobile-menu-button.active .hamburger-button
	background: none

.mobile-menu-button.active .hamburger-button:before
	top: 20px
	transform: rotate(-45deg)

//================Parallax Navigation====================
.parallax-navigation
	display: flex
	justify-content: space-between
	position: fixed
	align-items: center
	min-height: 80px
	min-width: 100vw
	background: #34495e
	z-index: 0
	opacity: 0.9

	
	ul
		display: flex
		flex-direction: row
		margin-left: 30px

		li
			list-style-type: none
			margin-right: 30px

			a
				text-decoration: none
				color: #fff
				font-family: 'Montserrat'

			a:hover
					border-bottom: 3px solid #f39c12
					transition: all 0.1s ease-in-out

	span
		margin-right: 30px
		color: #fff
		font-family: 'Montserrat'

	i
		color: #fff


//================Responsive Design====================
//Medium PC Monitors
@media (min-width: 961px) and (max-width: 1200px)
	.mobile-menu-button

//Small Monitors and Large Tablets
@media (min-width: 801px) and (max-width: 960px)
	.mobile-menu-button

//Small Monitors and Tablets
@media (min-width: 501px) and (max-width: 800px)
	.mobile-menu-button
		display: flex

	.parallax-navigation
		display: none

//Mobile Devices
@media (min-width: 50px) and (max-width: 500px)
	.mobile-menu-button
		display: flex

	.parallax-navigation
		display: none
