.about-us-jumbotron
	background-image: url('../img/about-us.png')
	background-size: cover
	background-position: center bottom
	display: flex
	height: 100vh

.about-us-content
	display: flex
	height: 100vh
	justify-content: flex-start
	flex-direction: column
	align-items: center
	margin-top: 80px

	.title
		display: flex
		align-items: center
		flex-direction: column
		margin-bottom: 80px


		h2
			font-family: 'Droid Serif'
			font-size: 40px
			color: #7f8c8d


	.content
		display: flex
		flex-direction: column
		justify-content: flex-start
		width: 50vw


		span
			margin-bottom: 40px
			font-family: 'Montserrat'
			font-size: 15px
			line-height: 30px
			color: #949c9d
			text-align: justify

.team-content
	display: flex
	height: 100vh
	justify-content: flex-start
	flex-direction: column
	align-items: center
	margin-top: 40px

	h2
		font-family: 'Droid Serif'
		font-size: 40px
		color: #7f8c8d	
